header {
    justify-content: center;
    display: flex;
    letter-spacing: 1px;
    padding: 10px 0 30px 0;
    border-radius: 30px;

    color: #;
    height: 50px;
}
li {
    list-style: none;
}

.task-block {
    margin-left: 35%;
    margin-right: 35%;
    max-width: 500px;
    max-height: 100px;
    padding: 10px 0 10px 0;
    color: #fff;
    background: #808080;
}
.task {
    font-size: 20px;
    display: flex;
    padding: 10px 0 10px 0;
    justify-content: center;
    height: 25px;
}
.to-do {
    background: #000000;
}
.canceled {
    background: #DAA520;
}
.done {
    background: #DAA520;
}
.status {
    font-size: 15px;
    max-height: 30px;
    width: 100px;
    padding: 10px 0 10px 0;
    display: flex;
    justify-content: center;
    margin-left: 40%;
    margin-right: 40%;
}